.mail-details {
    margin-top: 15px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}

.mail-details h4 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.mail-details p {
    font-size: 0.9rem;
    color: #444;
    margin: 5px 0;
}

.mail-details .action-btn {
    background: none;
    border: none;
    color: #666;
    font-size: 1.5rem;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.2s ease, transform 0.2s ease;
}

.mail-details .action-btn:hover {
    color: #007bff;
    transform: scale(1.2);
}

.mail-details .action-btn i {
    pointer-events: none;
}


.mail-details-header h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.mail-sender-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #666;
}

.mail-sender-name {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.mail-sender-email {
    color: #999;
}

.mail-body {
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}

.mail-footer {
    font-size: 0.85rem;
    color: #999;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
}