.mail-folder-list {
    width: 250px;
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.folders {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.folders li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.folders li i {
    font-size: 1.2rem;
    color: #333;
}

.folders li:hover {
    background-color: #e8f1fb;


}