.note-index {
    max-width: 90%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.041);
}

.note-index h1 {
    text-align: center;
    font-size: 36px;
    color: #1d3557;
    margin-bottom: 20px;
}

.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}