.user-msg {
    text-align: center;
    font-size: 18px;
    position: absolute;   
    left: 50%;
    top: 50%;
    padding: 1em;
    transform: translate(-50%, -50%);
    background-color: lightgray;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 250px;
    height: 200px;
   
}

.user-msg.success {
    background-color: CadetBlue;
}

.user-msg.error {
    background-color: rgb(163, 76, 89);
}


.user-msg button {
    float: right;
    right: 0;
}